# Flutter & Dart
frontend/.dart_tool/
frontend/.idea/
frontend/.packages
frontend/build/
frontend/pubspec.lock

# Python & Flask
backend/__pycache__/
backend/instance/
backend/.venv/
backend/venv/
venv
*.pyc

# OS files
.DS_Store
Thumbs.db
